# macOS
.DS_Store
._*

# System
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
.env
venv*/
*.egg-info/

# IDE
.idea/

# ML/Data
*.pkl
*.h5
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
experiments/*
!experiments/.gitkeep
results/*
!results/.gitkeep
